<%- include("../templates/header")  %>
<div class="container  my-5">
<div class="card ">
    <div class="card-body">
      <div class="row">
       <div class="card-text-custom col-md-6">
            <h2>
                Thank You For Sign up
                </h2>
            <p>
                 Visit Your Email to verify your account
            </p>
            <a href="https://mail.google.com/mail/u/0/" class="btn btn-primary w-100">Verify your Account </a>
        </div>
        <div class="col-md-6">
            <img class="inherit-width" src="/images/mail.jpg" />
        </div>
      </div>
    </div>
</div>
</div>





<%- include("../templates/footer") %>