
<%- include("../templates/header")  %>
<div class="container row col-md-12">
    <div class="col-md-6 home-image-div" >
        <img src="/images/password.png" class="home_image" alt="register_image"   >
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 ">
        <div class="forgetPassword-div">
        <form id="forgetpass-form">
              <h1><b>Forget <br/> Your Password</b></h1>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">

                </div>
               <button type="submit" class="btn btn-primary w-100">Send Request <i class="fa fa-paper-plane" aria-hidden="true"></i> </button>
        <small id="error-msg" class="text-muted text-center font-weight-bold"></small>
        </form>
        </div>
        </div>

</div>
<%- include("../templates/footer") %>
