<%- include("../templates/header")  %>
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <img class="mail-verified-icon" src="/images/check-email-icon-27.jpg">
     <p class="text-center my-4">Your Emails is confirmd </p>
        <a href="/auth/login" class=" btn btn-primary w-100 ">Login Here!!!</a>
    </div>
    </div>
</div>


<%- include("../templates/footer") %>